<section>
    <div class="section1">
        <div class="container pt-lg-5">
            <table>
                <tr>
                    <td>
                        <h1>JAVA</h1>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-lg-9">
                                <p>Bajarilgan bo'limlar</p>
                            </div>
                            <div class="col-lg-3"><b>95%</b></div>
                        </div>
                        <div class="badge a">-</div>
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-lg-9">
                                <p>Bajarilgan bo'limlar</p>
                            </div>
                            <div class="col-lg-3"><b>56%</b></div>
                        </div>
                        <div class="badge b">-</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="section2 pb-lg-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Bo'limlar</h2>
                </div>
                <div class="col-lg-2 offset-lg-4">
                    <button class="btn btn-outline-success ml-lg-5">Barchasi</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h3>String-1</h3>
                                </div>
                                <div class="col-lg-3 offset-lg-3">
                                    <div class="badge badge-success">-</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eaque facere ipsa iste
                                neque voluptas.</p>
                            <div class="row">
                                <div class="col-lg-6">
                                    <dl>
                                        <dd>Daraja</dd>
                                        <dt>Oson</dt>
                                    </dl>
                                </div>
                                <div class="col-lg-6">
                                    <a class="text-decoration-none" style="color: white" href="index5.html">
                                        <button class="btn btn-success mt-lg-2">Bajarish <img
                                                src="image/arrow-right.png"</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h3>String-2</h3>
                                </div>
                                <div class="col-lg-3 offset-lg-3">
                                    <div class="badge badge-success">-</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eaque facere ipsa iste
                                neque voluptas.</p>
                            <div class="row">
                                <div class="col-lg-6">
                                    <dl>
                                        <dd>Daraja</dd>
                                        <dt>O'rtacha</dt>
                                    </dl>
                                </div>
                                <div class="col-lg-6">
                                    <button class="btn btn-success mt-lg-2">Bajarish <img src="image/arrow-right.png"
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h3>Array-1</h3>
                                </div>
                                <div class="col-lg-3 offset-lg-3">
                                    <div class="badge badge-warning">-</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eaque facere ipsa iste
                                neque voluptas.</p>
                            <div class="row">
                                <div class="col-lg-6">
                                    <dl>
                                        <dd>Daraja</dd>
                                        <dt>Oson</dt>
                                    </dl>
                                </div>
                                <div class="col-lg-6">
                                    <button class="btn btn-success mt-lg-2">Bajarish <img src="image/arrow-right.png"
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-lg-5">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h3>Array-2</h3>
                                </div>
                                <div class="col-lg-3 offset-lg-3">
                                    <div class="badge badge-warning">-</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eaque facere ipsa iste
                                neque voluptas.</p>
                            <div class="row">
                                <div class="col-lg-6">
                                    <dl>
                                        <dd>Daraja</dd>
                                        <dt>Murakkab</dt>
                                    </dl>
                                </div>
                                <div class="col-lg-6">
                                    <button class="btn btn-success mt-lg-2">Bajarish <img src="image/arrow-right.png"
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-lg-5">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h3>Logic-1</h3>
                                </div>
                                <div class="col-lg-3 offset-lg-3">
                                    <div class="badge badge-primary">-</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eaque facere ipsa iste
                                neque voluptas.</p>
                            <div class="row">
                                <div class="col-lg-6">
                                    <dl>
                                        <dd>Daraja</dd>
                                        <dt>Oson</dt>
                                    </dl>
                                </div>
                                <div class="col-lg-6">
                                    <button class="btn btn-success mt-lg-2">Bajarish <img src="image/arrow-right.png"
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mt-lg-5">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h3>Logic-2</h3>
                                </div>
                                <div class="col-lg-3 offset-lg-3">
                                    <div class="badge badge-primary">-</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti eaque facere ipsa iste
                                neque voluptas.</p>
                            <div class="row">
                                <div class="col-lg-6">
                                    <dl>
                                        <dd>Daraja</dd>
                                        <dt>O'rtacha</dt>
                                    </dl>
                                </div>
                                <div class="col-lg-6">
                                    <button class="btn btn-success mt-lg-2">Bajarish <img src="image/arrow-right.png"
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>

</section>