<div class="section2">
    <div class="container py-lg-5">
        <h1>Foydalanuvchi sozlamalari</h1>
        <div class="row pt-lg-5">
            <div class="col-lg-2 col-12">
                <div class="rasm">
                    <div class="qora">
                        <img src="image/camera.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <form>
                        <div class="form-group">
                            <label for="ism">To'liq ismi</label>
                            <input type="text" class="form-control" placeholder="Azizxon Jalilov" id="ism">
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="tel">Telefon nomer</label>
                            <input type="tel" class="form-control" placeholder="+998901234567" id="tel">
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="pwd">Parol</label>
                            <input type="password" class="form-control" placeholder="*********************" id="pwd">
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="pwd2">Parolni tasdiqlash</label>
                            <input type="password" class="form-control" placeholder="*********************" id="pwd2">
                        </div>
                    </form>
                    <button class="btn btn-success mt-lg-3">Saqlash</button>
                    <button class="btn btn-danger mt-lg-3">O'chirish</button>
            </div>
            
            <div class="col-lg-4 col-12 offset-lg-1">
                <div class="hisob">
                    <p>Sizning xisobingiz:</p>
                    <h1>100.000 UZS</h1>
                </div>
            </div>
        </div>
    </div>
</div>