<section>
    <div class="section1">
        <div class="container pt-lg-5">
            <table class="my-lg-4">
                <tr>
                    <td>
                        <p>Bajarilgan topshiriqlar</p>
                        <h2><b>125</b></h2>
                        <h6 class="hh"><img src="image/aaa.png" alt=""> Bugun: +8 ta</h6>
                    </td>
                    <td>
                        <p>Bajarilgan bo'limlar</p>
                        <h2><b>38</b></h2>
                        <h6 class="hh"><img src="image/aaa.png" alt=""> Bugun: +1 ta</h6>
                    </td>
                    <td>
                        <p>Dasturlash tillari</p>
                        <h2><b>2</b></h2>
                        <h6><img src="image/play%20(1).png" alt=""> Bugun: 0 ta</h6>
                    </td>
                </tr>
            </table>
            <br><br>
            <div class="row">
                <div class="col-lg-6">
                    <h2>So'ngi bajarilgan topshiriqlar</h2><br>
                </div>
                <div class="col-lg-2 offset-lg-4">
                    <button class="btn btn-outline-success ml-lg-5">Barchasi</button>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="box">
                        <div class="quti">
                            <div class="row">
                                <div class="col-lg-5"><h3><b>Sleepln</b></h3></div>
                                <div class="col-lg-3 offset-lg-4">
                                    <div class="badge badge-success">-</div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <p class="agar">Agar hafta ichi ishlamasa, hafta ichidagi parametr haqiqiydir va
                                    biz ta'tilda bo'lsak,
                                    parametrning ta'til haqiqiydir. Agar u kunlik ishlamasa yoki biz tatilda
                                    bo'lsak
                                    uxlaymiz. Agar uxlayotgan bo'lsak, rostini qaytaring</p>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 lg4"><p class="das">Dasturlash tili</p><h5>JAVA</h5></div>
                                <div class="col-lg-4 lg4"><p class="das">Bo'lim</p><h5>STRING</h5></div>
                                <div class="col-lg-4 lg4"><p class="das">Daraga</p><h5>O'RTACHA</h5></div>
                            </div>
                            <br><br>
                            <div class="row">
                                <button class="btn btn-success">Bajarish <img src="image/arrow-right.png" alt="">
                                </button>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box">
                        <div class="quti">
                            <div class="row">
                                <div class="col-lg-5"><h3><b>PosNeg</b></h3></div>
                                <div class="col-lg-3 offset-lg-4">
                                    <div class="badge badge-warning">-</div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <p class="agar">Agar hafta ichi ishlamasa, hafta ichidagi parametr haqiqiydir va
                                    biz ta'tilda bo'lsak,
                                    parametrning ta'til haqiqiydir. Agar u kunlik ishlamasa yoki biz tatilda
                                    bo'lsak
                                    uxlaymiz. Agar uxlayotgan bo'lsak, rostini qaytaring</p>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 lg4"><p class="das">Dasturlash tili</p><h5>JAVA</h5></div>
                                <div class="col-lg-4 lg4"><p class="das">Bo'lim</p><h5>ARRAY</h5></div>
                                <div class="col-lg-4 lg4"><p class="das">Daraga</p><h5>MURAKKAB</h5></div>
                            </div>
                            <br><br>
                            <div class="row">
                                <button class="btn btn-success">Bajarish <img src="image/arrow-right.png" alt="">
                                </button>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="box">
                        <div class="quti">
                            <div class="row">
                                <div class="col-lg-5"><h3><b>FrontBack</b></h3></div>
                                <div class="col-lg-3 offset-lg-4">
                                    <div class="badge badge-warning">-</div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <p class="agar">Agar hafta ichi ishlamasa, hafta ichidagi parametr haqiqiydir va
                                    biz ta'tilda bo'lsak,
                                    parametrning ta'til haqiqiydir. Agar u kunlik ishlamasa yoki biz tatilda
                                    bo'lsak
                                    uxlaymiz. Agar uxlayotgan bo'lsak, rostini qaytaring</p>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 lg4"><p class="das">Dasturlash tili</p><h5>PYTHON</h5>
                                </div>
                                <div class="col-lg-4 lg4"><p class="das">Bo'lim</p><h5>STRING</h5></div>
                                <div class="col-lg-4 lg4"><p class="das">Daraga</p><h5>ODDIY</h5></div>
                            </div>
                            <br><br>
                            <div class="row">
                                <button class="btn btn-success">Bajarish <img src="image/arrow-right.png" alt="">
                                </button>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section3">
        <div class="container mt-lg-5">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Hozirgi mavjud kurslarim</h2>
                </div>
                <div class="col-lg-2 offset-lg-4">
                    <button class="btn btn-outline-success ml-lg-5">Barchasi</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h2><b>JAVA</b></h2>
                            <span><b>128 ta</b></span>
                            <span class="ex">topshiriq</span>
                            <span><b>| 38 ta</b></span>
                            <span class="ex">bo'lim</span>
                        </div>
                        <div class="card-body">
                            <p><b>Natijalar</b></p>
                            <div class="row">
                                <div class="col-lg-9">
                                    <p>Bajarilgan topshiriqlar</p>
                                </div>
                                <div class="col-lg-3"><b>56%</b></div>
                            </div>
                            <div class="badge r">-</div>
                            <div class="row">
                                <div class="col-lg-9">
                                    <p>Bajarilgan bo'limlar</p>
                                </div>
                                <div class="col-lg-3"><b>43%</b></div>
                            </div>
                            <div class="badge q">-</div>
                            <br><br>
                            <a class="text-decoration-none" style="color: white"
                               href="index4.html">
                                <button class="btn btn-success">Davom ettirish <img
                                        src="image/arrow-right.png" alt="">
                                </button>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h2><b>PYTHON</b></h2>
                            <span><b>128 ta</b></span>
                            <span class="ex">topshiriq</span>
                            <span><b>| 38 ta</b></span>
                            <span class="ex">bo'lim</span>
                        </div>
                        <div class="card-body">
                            <p><b>Natijalar</b></p>
                            <div class="row">
                                <div class="col-lg-9">
                                    <p>Bajarilgan topshiriqlar</p>
                                </div>
                                <div class="col-lg-3"><b>96%</b></div>
                            </div>
                            <div class="badge w">-</div>
                            <div class="row">
                                <div class="col-lg-9">
                                    <p>Bajarilgan bo'limlar</p>
                                </div>
                                <div class="col-lg-3"><b>23%</b></div>
                            </div>
                            <div class="badge e">-</div>
                            <br><br>
                            <button class="btn btn-success">Davom ettirish <img src="image/arrow-right.png"</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section2"><br>
        <div class="container mt-lg-5">
            <div class="row">
                <div class="col-lg-6">
                    <h2>Barcha kurslar</h2>
                </div>
                <div class="col-lg-2 offset-lg-4">
                    <button class="btn btn-outline-success ml-lg-5">Barchasi</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h2><b>JAVA</b></h2>
                            <span><b>128 ta</b></span>
                            <span class="ex">topshiriq</span>
                            <span><b>| 38 ta</b></span>
                            <span class="ex">bo'lim</span>
                        </div>
                        <div class="card-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad, alias, delectus eius
                            hic, inventore libero natus necessitatibus nulla perspiciatis quis vel. Molestias, nostrum,
                            repellat. Dignissimos, earum eos et, ex excepturi, explicabo ipsam iure magnam minus
                            pariatur possimus quod saepe suscipit tempora totam vero voluptates?
                        </div>
                        <button class="btn btn-success">Kursni boshlash <img src="image/arrow-right.png" alt="">
                        </button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h2><b>PYTHON</b></h2>
                            <span><b>128 ta</b></span>
                            <span class="ex">topshiriq</span>
                            <span><b>| 38 ta</b></span>
                            <span class="ex">bo'lim</span>
                        </div>
                        <div class="card-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad, alias, delectus eius
                            hic, inventore libero natus necessitatibus nulla perspiciatis quis vel. Molestias, nostrum,
                            repellat. Dignissimos, earum eos et, ex excepturi, explicabo ipsam iure magnam minus
                            pariatur possimus quod saepe suscipit tempora totam vero voluptates?
                        </div>
                        <button class="btn btn-success">Kursni boshlash <img src="image/arrow-right.png"</button>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h2><b>GO</b></h2>
                            <span><b>128 ta</b></span>
                            <span class="ex">topshiriq</span>
                            <span><b>| 38 ta</b></span>
                            <span class="ex">bo'lim</span>
                        </div>
                        <div class="card-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad, alias, delectus eius
                            hic, inventore libero natus necessitatibus nulla perspiciatis quis vel. Molestias, nostrum,
                            repellat. Dignissimos, earum eos et, ex excepturi, explicabo ipsam iure magnam minus
                            pariatur possimus quod saepe suscipit tempora totam vero voluptates?
                        </div>
                        <button class="btn btn-success">Kursni boshlash <img src="image/arrow-right.png"</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</section>