<div class="section">
    <div class="container pt-lg-5 pt-5">
        <h1>To'lovlarni o'tkazish</h1>
        <div class="row">
            <div class="col-lg-6">
                <form>
                        <div class="form-group">
                            <label for="ism">To'lov miqdori</label>
                            <input type="text" class="form-control" placeholder="500 000" id="ism">
                        </div>
                        <hr>
                        <div class="form-group">
                            <label for="tel">Karta raqami</label>
                            <input type="tel" class="form-control" placeholder="2980184030000044006" id="tel">
                        </div>
                        <hr>
                
                    </form>
                    <button class="btn btn-success mt-lg-3">To'lash</button>
                    <button class="btn btn-danger mt-lg-3">Bekor qilish</button>
            </div>
            <div class="col-lg-6">
                <div class="hisob">
                    <p>Sizning xisobingiz:</p>
                    <h1>100.000 UZS</h1>
                </div>
            </div>
        </div>
        
    </div>
    <div class="container">
        <div class="row pt-lg-5 pt-5">
            <div class="col-lg-3">
                <h1>To'lovlar tarixi</h1>
            </div>
            <div class="col-lg-3">
                <div class="box mt-lg-3 ml-lg-5">
                <div class="yellow"></div>
                <span>Plastik orqali to'lovlar</span>
            </div></div>
            <div class="col-lg-3">
                <div class="box mt-lg-3">
                <div class="blue"></div>
                <span>Naqd pul orqali to'lovlar</span>
            </div></div>
        </div>
        <div class="row mt-lg-5 mt-4">
            <div class="col-lg-6">
                <div class="box1">
                    <div class="row">
                        <div class="col-lg-7 col-7">
                            <p>To'lov miqdori</p>
                            <span class="bew"><b>500.000</b></span> <span class="uzs">UZS</span>
                        </div>
                        <div class="col-lg-3 mt-lg-3">
                            <div class="yellow"></div>
                            <span>To'lov</span>
                        </div>
                        <div class="col-lg-4 mt-lg-4">
                            <p>To'lov sanasi</p>
                            <h4>12.07.2019</h4>
                        </div>
                        <div class="col-lg-3 mt-lg-4">
                            <p>To'lov vaqti</p>
                            <h4>21:30</h4>
                        </div>
                        <div class="col-lg-5 mt-lg-4 pl-3">
                            <p>Tafsilotlar</p>
                            <h6 class="mt-lg-1">Android darslari uchun to'lov</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="box1 mt-4 mt-lg-0">
                    <div class="row">
                        <div class="col-lg-7">
                            <p>To'lov miqdori</p>
                            <span class="bew"><b>500.000</b></span> <span class="uzs">UZS</span>
                        </div>
                        <div class="col-lg-3 mt-lg-3">
                            <div class="yellow"></div>
                            <span>To'lov</span>
                        </div>
                        <div class="col-lg-4 mt-lg-4">
                            <p>To'lov sanasi</p>
                            <h4>12.07.2019</h4>
                        </div>
                        <div class="col-lg-3 mt-lg-4">
                            <p>To'lov vaqti</p>
                            <h4>21:30</h4>
                        </div>
                        <div class="col-lg-5 mt-lg-4 pl-3">
                            <p>Tafsilotlar</p>
                            <h6 class="mt-lg-1">Android darslari uchun to'lov</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="box1 mt-lg-4 mt-4">
                    <div class="row">
                        <div class="col-lg-7">
                            <p>To'lov miqdori</p>
                            <span class="bew"><b>500.000</b></span> <span class="uzs">UZS</span>
                        </div>
                        <div class="col-lg-3 mt-lg-3">
                            <div class="blue"></div>
                            <span>To'lov</span>
                        </div>
                        <div class="col-lg-4 mt-lg-4">
                            <p>To'lov sanasi</p>
                            <h4>12.07.2019</h4>
                        </div>
                        <div class="col-lg-3 mt-lg-4">
                            <p>To'lov vaqti</p>
                            <h4>21:30</h4>
                        </div>
                        <div class="col-lg-5 mt-lg-4 pl-3">
                            <p>Tafsilotlar</p>
                            <h6 class="mt-lg-1">Android darslari uchun to'lov</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="box1 mt-lg-4 mt-4">
                    <div class="row">
                        <div class="col-lg-7">
                            <p>To'lov miqdori</p>
                            <span class="bew"><b>500.000</b></span> <span class="uzs">UZS</span>
                        </div>
                        <div class="col-lg-3 mt-lg-3">
                            <div class="blue"></div>
                            <span>To'lov</span>
                        </div>
                        <div class="col-lg-4 mt-lg-4">
                            <p>To'lov sanasi</p>
                            <h4>12.07.2019</h4>
                        </div>
                        <div class="col-lg-3 mt-lg-4">
                            <p>To'lov vaqti</p>
                            <h4>21:30</h4>
                        </div>
                        <div class="col-lg-5 mt-lg-4 pl-3">
                            <p>Tafsilotlar</p>
                            <h6 class="mt-lg-1">Android darslari uchun to'lov</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
</div>